* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: sticky;
  top: 0px;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 10px;
  color: beige;
  background: linear-gradient(to left bottom, blueviolet, rgb(99, 83, 255));
  filter: drop-shadow(0 0 0.75rem grey);
}

nav div:nth-child(2) {
  margin-left: 15px;
}

.navItem {
  padding-left: 20px;
  display: inline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 60vw;
}

.carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.carousel img {
  max-width: 60vw;
  border-radius: 5px;
}

article {
  width: 60vw;
}

footer {
  font-style: italic;
}

#title {
  position: relative;
  bottom: 0px;
  z-index: 1;
  padding: 4px;
  border: 1px solid black;
  border-radius: 0px 0px 8px 0px;
  margin: 2px 2px 2px 0px;
  background: crimson;
  transition: bottom 1s linear, filter 1s, background 1s ease;
}

#title:hover {
  bottom: 1px;
  filter: drop-shadow(0 0 0.75rem crimson);
  background: rgb(260, 60, 40);
}

/* drop menu */

#dropmenu {
  display: inline-block;
}

#drop {
  margin: 2px;
}

#dropmenu:hover #dropitems {
  display: block;
  background: violet;
}

#dropitems {
  position: absolute;
  border-radius: 5px;
  display: none;
}

.drops:hover {
  color: white;
}

/* animated drop menu */

#dropmenu-animated {
  display: inline-block;
}

#dropA {
  margin: 2px;
}

#dropmenu-animated:hover #dropitems-animated {
  opacity: 1;
  visibility: visible;
  background: violet;
  transform-origin: left top;
  transform: scaleY(1);
}

#dropitems-animated {
  position: absolute;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transform: scaleY(0);
  transition: transform 0.5s, opacity 2s ease;
}

.dropsA:hover {
  color: white;
}

#griddy {
  top: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#divg {
  height: 10vw;
  width: 10vw;
  border-radius: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#innerdiv {
  background: beige;
}
