* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  position: sticky;
  top: 0px;
  background: linear-gradient(to left bottom, blueviolet, rgb(99, 83, 255));
  color: beige;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 10px;
}

.navItem {
  display: inline;
  padding-left: 20px;
}

#title {
  padding: 4px;
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  margin: 2px;
  margin-left: 0px;
  bottom: 0px;
  transition: bottom 1s linear, filter 1s, background 1s ease;
  background: crimson;
}

#title:hover {
  bottom: 1px;
  filter: drop-shadow(0 0 0.75rem crimson);
  background: rgb(180, 70, 40);
}

/* drop menu */

#dropmenu {
  display: inline-block;
}

#drop {
  margin: 2px;
}

#dropmenu:hover #dropitems {
  background: violet;
  display: block;
}

#dropitems {
  position: absolute;
  display: none;
  border-radius: 5px;
}

.drops:hover {
  color: white;
}

/* animated drop menu */

#dropmenu-animated {
  display: inline-block;
}

#dropA {
  margin: 2px;
}

#dropmenu-animated:hover #dropitems-animated {
  background: violet;
  opacity: 1;
  visibility: visible;
  transform-origin: left top;
  transform: scaleY(1);
}

#dropitems-animated {
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transform: scaleY(0);
  transition: transform 0.5s, opacity 2s ease;
}

.dropsA:hover {
  color: white;
}
